doctype html
head
    meta(charset='utf-8')
    link(type='text/css', href='/stylesheets/suit.css', rel='stylesheet')
    link(rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"  media="screen" )
    title 保养_服装保养_衣邦人
.head
    .topbar
        .icon
            .icondiv
                img(src='images/free@2x.png')
                br
                span &#x4E0A;&#x95E8;&#x91CF;&#x4F53;
            .icondiv
                img(src='images/top@2x.png')
                br
                span &#x9AD8;&#x7AEF;&#x5B9A;&#x5236;
            .icondiv
                img(src='images/10day@2x.png')
                br
                span &#x5FEB;&#x901F;&#x53D1;&#x8D27;
            .icondiv
                img(src='images/30day@2x.png')
                br
                span &#x65E0;&#x5FE7;&#x552E;&#x540E;
        a.logo(href='#')
            img(src='images/logo@2x.png')
    .nav
        .topbar2
            .center
                ul.son
                    li
                        a(href='home') &#x9996;&#x9875;
                    li.son_li
                        a.click(href='') &#x4EA7;&#x54C1;
                        ul
                            li
                                a(href='nsxz') &#x7537;&#x58EB;&#x897F;&#x88C5;
                            li
                                a(href='mancs') &#x7537;&#x58EB;&#x886C;&#x886B;
                            li
                                a(href='nvsxz') 女士西装
                            li
                                a(href='nscs') 女士衬衫
                            li
                                a(href='polo') 男士polo衫
                            li
                                a(href='pants') 男士休闲裤
                    li.son_li
                        a.click(href='') &#x9AD8;&#x7AEF;&#x5B9A;&#x5236;
                        ul
                            li
                                a(href='baoyang') &#x4FDD;&#x517B;&#x624B;&#x518C;
                            li
                                a(href='dakaxiu') &#x5927;&#x5496;&#x5B9A;&#x5236;&#x79C0;
                            li
                                a(href='pphz') 合作品牌
                            li
                                a(href='service') 售后服务
                    li
                        a(href='reserve') &#x9884;&#x7EA6;&#x91CF;&#x4F53;
.container
    img(src='images/by01.jpg')
    img(src='images/by02.jpg')
    img(src='images/by03.jpg')
    img(src='images/by04.jpg')
    img(src='images/by05.jpg')
    img(src='images/by06.jpg')
    img(src='images/by07.jpg')
    img(src='images/by09.jpg')
    img(src='images/by10.jpg')
    img(src='images/by11.jpg')
    img(src='images/by12.jpg')
    img(src='images/by13.jpg')
    img(src='images/by14.jpg')
    img(src='images/by15.jpg')
    img(src='images/by16.jpg')
    img(src='images/by17.jpg')
    img(src='images/by18.jpg')
    img(src='images/by19.jpg')
    img(src='images/by20.jpg')
    img(src='images/by21.jpg')
    img(src='images/by22.jpg')
    img(src='images/by23.jpg')
    img(src='images/by24.jpg')
.foot
    .foot_log
        img(width='100%', src='images/foot03.jpg')
    .right_sevice
        ul
            li.r1
                a(onclick='#') &#x5728;&#x7EBF;&#x5BA2;&#x670D;
            li.r3
                a(href='#') &#x5B98;&#x65B9;&#x5FAE;&#x4FE1;
                div
                    img.wx(src='images/WeixinHover_01.png.jpg')
            li.r4
                a(href='#') APP&#x4E0B;&#x8F7D;
                div
                    img.app(src='images/AppHover_01.png.jpg')
            li
                img(src='images/yy.png' style='width:90px')
