doctype html
head
    meta(charset='utf-8')
    link(type='text/css', href='/stylesheets/homecss.css', rel='stylesheet')
    link(rel="shortcut icon" type="image/x-icon" href="images/favicon_home.ico"  media="screen" )
    title 衣邦人上门量身定制；西装定制，衬衫定制，服装定制，西服，职业装，西装定做，商务正装
.head
    .topbar
        .login_register
            ul
                li
                    a.login(href='login') &#x767B;&#x5F55;
                li
                    a.register(href='register') &#x6CE8;&#x518C;
        .icon
            .icondiv
                img(src='images/free@2x.png')
                br
                span &#x4E0A;&#x95E8;&#x91CF;&#x4F53;
            .icondiv
                img(src='images/top@2x.png')
                br
                span &#x9AD8;&#x7AEF;&#x5B9A;&#x5236;
            .icondiv
                img(src='images/10day@2x.png')
                br
                span &#x5FEB;&#x901F;&#x53D1;&#x8D27;
            .icondiv
                img(src='images/30day@2x.png')
                br
                span &#x65E0;&#x5FE7;&#x552E;&#x540E;
        a.logo(href='#')
            img(src='images/logo@2x.png')
.nav
    .topbar2
        .center
            ul.son
                li
                    a(href='') &#x9996;&#x9875;
                li.son_li
                    a.click(href='') &#x4EA7;&#x54C1;
                    ul
                        li
                            a(href='nsxz') &#x7537;&#x58EB;&#x897F;&#x88C5;
                        li
                            a(href='mancs') &#x7537;&#x58EB;&#x886C;&#x886B;
                        li
                            a(href='nvsxz') 女士西装
                        li
                            a(href='nscs') 女士衬衫
                        li
                            a(href='polo') 男士polo衫
                        li
                            a(href='pants') 男士休闲裤
                li.son_li
                    a.click(href='') &#x9AD8;&#x7AEF;&#x5B9A;&#x5236;
                    ul
                        li
                            a(href='baoyang') &#x4FDD;&#x517B;&#x624B;&#x518C;
                        li
                            a(href='dakaxiu') &#x5927;&#x5496;&#x5B9A;&#x5236;&#x79C0;
                        li
                            a(href='pphz') 合作品牌
                        li
                            a(href='service') 售后服务
                li
                    a(href='reserve') &#x9884;&#x7EA6;&#x91CF;&#x4F53;
.rightbar
    a.box1(href='', style='text-decoration: none;') &#x5728;&#x7EBF;&#x5BA2;&#x670D;
    a.box2 &#x5B98;&#x65B9;&#x5FAE;&#x4FE1;
    a.box3 APP&#x4E0B;&#x8F7D;
    a.lastbox(href='', style='height: 90px;    border-bottom: none;')
    img.wx(src='images/WeixinHover_01.png')
    img.app(src='images/AppHover_01.png')
.content
    .lazybox
        a(href='', target='_blank', style='display: block;width: 100%;opacity: 0;')
            img.lazy(src='images/pc_01.jpg')
        a(href='', target='_blank', style='display: block;width: 100%;animation: show_1 9s infinite;position: absolute;\
      top:0')
            img.lazy(src='images/pc_01.jpg')
        a(href='', target='_blank', style='display: block;width: 100%;animation: show_2 9s infinite;position: absolute;\
      top:0')
            img.lazy(src='images/pc_01b.jpg')
    .lazybox
        img.lazy(src='images/pc_02.jpg')
    .swiper_container
        .swiper
            .showzone
                #imgblock.imgblock
                    img(src='images/pc_03_swiper_2.jpg')
                    img(src='images/pc_03_swiper_3.jpg')
            #prev.prev(onclick='prev()')
            #next.next(onclick='next()')
    .lazybox
        img.lazy(src='images/pc_05.jpg')
    .handpick
        .category1(style='width:36%')
            a(href='mancs')
        .category2(style='width:14%')
            a(href='nsxz')
        .category3(style='width:14%')
            a(href='polo')
        .category4(style='width:36%')
            a(href='pants')
        .img.img1
        .img.img2
        .img.img3
        .img.img4
    .lazybox
        img(src='images/pc_12.jpg')
    .product
        .left
            a(href='news',style='width:100%;height:100%;display:block')
        .right(style='display: inline-block;')
            .cover(style='height: 225px;\
      background-image:url(images/pc_13_1.jpg);')
                a(href='dashijian',style='width:100%;height:100%;display:block')
            .cover(style='height: 227px;\
      background-image:url(images/pc_13_2.jpg);')
                a(href='dakaxiu',style='width:100%;height:100%;display:block')
.foot
    .foot_logo
        img(src='images/foot03.jpg', style='float: left;\
    width: 100%;')
    .foot_logo_2
        | &#x8863;&#x90A6;&#x4EBA;&#xFF0C;&#x7387;&#x5148;&#x5C06;&#x4E92;&#x8054;&#x7F51;&#xFF0C;&#x4E13;&#x4E1A;&#x7740;&#x88C5;&#x987E;&#x95EE;&#x4E0A;&#x95E8;&#x91CF;&#x4F53;&#xFF0C;&#x548C;&#x5DE5;&#x4E1A;
        | 4.0&#x6280;&#x672F;&#x5F15;&#x5165;&#x91CF;&#x8EAB;&#x5B9A;&#x5236;&#x884C;&#x4E1A;&#x7684;&#x670D;&#x88C5;&#x5B9A;&#x5236;&#x5E73;&#x53F0;&#x3002;&#x5BA2;&#x6237;&#x53EF;&#x4EE5;&#x514D;&#x8D39;
        | &#x9884;&#x7EA6;&#x8863;&#x90A6;&#x4EBA;&#x7684;&#x4E13;&#x4E1A;&#x7740;&#x88C5;&#x987E;&#x95EE;&#xFF0C;&#x4E0A;&#x95E8;&#x91CF;&#x4F53;&#x91C7;&#x96C6;&#x8EAB;&#x6750;&#x6570;&#x636E;&#xFF0C;
        br
        | &#x9;&#x9;&#x9;&#x9;&#x5E76;&#x63D0;&#x4F9B;&#x4E13;&#x4E1A;&#x7740;&#x88C5;&#x5EFA;&#x8BAE;&#x3002;&#x63D0;&#x4F9B;&#x897F;&#x88C5;&#x5B9A;&#x505A;&#xFF0C;&#x897F;&#x670D;&#x5B9A;&#x5236;&#xFF0C;
        | &#x9;&#x9;&#x9;&#x9;&#x804C;&#x4E1A;&#x88C5;&#xFF0C;&#x5546;&#x52A1;&#x6B63;&#x88C5;&#x5B9A;&#x5236;&#xFF0C;&#x897F;&#x88C5;&#xFF0C;&#x886C;&#x886B;&#x5B9A;&#x5236;&#x7B49;&#x670D;&#x88C5;&#x5B9A;&#x5236;&#x670D;&#x52A1;&#x3002;
        div(style='width:300px;margin:0 auto; padding:20px 0;')
            a(target='_blank', href='', style='display:inline-block;\
      text-decoration:none;height:20px;line-height:20px;')
                img(src='images/beian.png', style='float:left;width: 20px;height: 20px;\
        vertical-align: middle;')
                p(style='float:left;height:20px;line-height:20px;margin: 0px 0px\
        0px 5px; color:#939393;') &#x6D59;&#x516C;&#x7F51;&#x5B89;&#x5907; 33011802000773&#x53F7;
    .infomation
        p.p1 Copyright&copy;2015-2018 ybren.com,  All Rights Reserved.
        p &#x7248;&#x6743;&#x6240;&#x6709;:&#x676D;&#x5DDE;&#x8D1D;&#x561F;&#x79D1;&#x6280;&#x6709;&#x9650;&#x516C;&#x53F8;   &#x6D59;ICP&#x5907;15008318&#x53F7;
script(src='script/swiper.js')