doctype html
head
    meta(charset='utf-8')
    title
    link(href='/stylesheets/nvsxz.css', type='text/css', rel='stylesheet')
.head
    .topbar
        .icon
            .icondiv
                img(src='images/free@2x.png')
                br
                span &#x4E0A;&#x95E8;&#x91CF;&#x4F53;
            .icondiv
                img(src='images/top@2x.png')
                br
                span &#x9AD8;&#x7AEF;&#x5B9A;&#x5236;
            .icondiv
                img(src='images/10day@2x.png')
                br
                span &#x5FEB;&#x901F;&#x53D1;&#x8D27;
            .icondiv
                img(src='images/30day@2x.png')
                br
                span &#x65E0;&#x5FE7;&#x552E;&#x540E;
        a.logo(href='#')
            img(src='images/logo@2x.png')
    .nav
        .topbar2
            .center
                ul.son
                    li
                        a(href='home') &#x9996;&#x9875;
                    li.son_li
                        a.click(href='') &#x4EA7;&#x54C1;
                        ul
                            li
                                a(href='nsxz') &#x7537;&#x58EB;&#x897F;&#x88C5;
                            li
                                a(href='') &#x7537;&#x58EB;&#x886C;&#x886B;
                    li.son_li
                        a.click(href='') &#x9AD8;&#x7AEF;&#x5B9A;&#x5236;
                        ul
                            li
                                a(href='') &#x4FDD;&#x517B;&#x624B;&#x518C;
                            li
                                a(href='') &#x5927;&#x5496;&#x5B9A;&#x5236;&#x79C0;
                    li
                        a(href='') &#x9884;&#x7EA6;&#x91CF;&#x4F53;
.right_sevice
    ul
        li.r1
            a(onclick='#') &#x5728;&#x7EBF;&#x5BA2;&#x670D;
        li.r3
            a(href='#') &#x5B98;&#x65B9;&#x5FAE;&#x4FE1;
            div
                img.wx(src='images/WeixinHover_01.png.jpg')
        li.r4
            a(href='#') APP&#x4E0B;&#x8F7D;
            div
                img.app(src='images/AppHover_01.png.jpg')
        li
            img(src='images/22AM%5DM@5K6ECK%5DBX9A78YVY.png')
.chanpin
    ul
        li
            .img
                a(href='#')
                    img.bigger(src='images/5cd3b966180a4.jpg', alt='')
            p
                span.desc &#x9ED1;&#x8272;&#x6217;&#x9A73;&#x9886;&#x65F6;&#x5C1A;OL&#x5957;&#x88D9;
            p.tese 60%&#x7F8A;&#x6BDB;27%&#x6DA4;&#x7EB6;8%&#x6851;&#x8695;&#x4E1D;5%&#x83B1;&#x5361;
            p.jiage &#xFFE5;2999.00
        li
            .img
                a(href='#')
                    img.bigger(src='images/5cd3b9d91bde8.jpg', alt='')
            p
                span.desc &#x85CF;&#x84DD;&#x8272;&#x6761;&#x7EB9;&#x6217;&#x9A73;&#x9886;&#x65F6;&#x5C1A;OL&#x5957;&#x88D9;
            p.tese 70%&#x7F8A;&#x6BDB;29.5%&#x6DA4;&#x7EB6;0.5%&#x5BFC;&#x7535;&#x7EA4;&#x7EF4;
            p.jiage &#xFFE5;2799.00
        li
            .img
                a(href='#')
                    img.bigger(src='images/5bee7562d9d4c.jpg', alt='')
            p
                span.desc &#x9ED1;&#x8272;&#x6761;&#x7EB9;&#x65F6;&#x5C1A;OL&#x897F;&#x670D;&#x5957;&#x88C5;
            p.tese 50.9%&#x7F8A;&#x6BDB;49.1%&#x805A;&#x916F;&#x7EA4;&#x7EF4;
            p.jiage &#xFFE5;2499.00
        li
            .img
                a(href='#')
                    img.bigger(src='images/5cde53f73f451.jpg', alt='')
            p
                span.desc &#x6D45;&#x9A7C;&#x8272;&#x5973;&#x58EB;&#x65F6;&#x5C1A;&#x897F;&#x670D;&#x5957;&#x88C5;
            p.tese 95.2%&#x805A;&#x916F;&#x7EA4;&#x7EF4; 4.8%&#x6C28;&#x7EB6;
            p.jiage &#xFFE5;2699.00
        li
            .img
                a(href='#')
                    img.bigger(src='images/5cde55283cce3.jpg', alt='')
            p
                span.desc &#x767D;&#x8272;&#x9ED1;&#x8FB9;&#x5C0F;&#x9999;&#x98CE;&#x5973;&#x58EB;&#x5957;&#x88C5;
            p.tese 42.3%&#x805A;&#x916F;&#x7EA4;&#x7EF4; 31.6%&#x68C9; 23.9%&#x7C98;&#x7EA4; 2%&#x805A;&#x916F;&#x8584;&#x819C;&#x7EA4;&#x7EF4;
            p.jiage &#xFFE5;2992.00
        li
            .img
                a(href='#')
                    img.bigger(src='images/5cde55a8a87a1.jpg', alt='')
            p
                span.desc &#x84DD;&#x767D;&#x8272;&#x5C0F;&#x9999;&#x98CE;&#x5973;&#x58EB;&#x5957;&#x88C5;
            p.tese 100%&#x805A;&#x916F;&#x7EA4;&#x7EF4;
            p.jiage &#xFFE5;2992.00
        li
            .img
                a(href='#')
                    img.bigger(src='images/5c04efde07646.jpg', alt='')
            p
                span.desc &#x7D2B;&#x8272;V&#x9886;&#x65F6;&#x5C1A;OL&#x5957;&#x88C5;
            p.tese 97%&#x805A;&#x916F;&#x7EA4;&#x7EF4;3%&#x6C28;&#x7EB6;   180g
            p.jiage &#xFFE5;2749.00
        li
            .img
                a(href='#')
                    img.bigger(src='images/5b696fd9bcf9b.jpg', alt='')
            p
                span.desc 100%&#x7F8A;&#x6BDB;&#x5973;&#x58EB;&#x65F6;&#x5C1A;&#x804C;&#x4E1A;&#x9ED1;&#x8272;&#x5957;&#x88D9;
            p.tese 100%&#x7F8A;&#x6BDB;
            p.jiage &#xFFE5;3390.00
.foot
    .foot_log
        img(src='images/foot03.jpg', width='1025px')
        .foot_logo_2
            | &#x8863;&#x90A6;&#x4EBA;&#xFF0C;&#x7387;&#x5148;&#x5C06;&#x4E92;&#x8054;&#x7F51;&#xFF0C;&#x4E13;&#x4E1A;&#x7740;&#x88C5;&#x987E;&#x95EE;&#x4E0A;&#x95E8;&#x91CF;&#x4F53;&#xFF0C;&#x548C;&#x5DE5;&#x4E1A;
            | 4.0&#x6280;&#x672F;&#x5F15;&#x5165;&#x91CF;&#x8EAB;&#x5B9A;&#x5236;&#x884C;&#x4E1A;&#x7684;&#x670D;&#x88C5;&#x5B9A;&#x5236;&#x5E73;&#x53F0;&#x3002;&#x5BA2;&#x6237;&#x53EF;&#x4EE5;&#x514D;&#x8D39;
            | &#x9884;&#x7EA6;&#x8863;&#x90A6;&#x4EBA;&#x7684;&#x4E13;&#x4E1A;&#x7740;&#x88C5;&#x987E;&#x95EE;&#xFF0C;&#x4E0A;&#x95E8;&#x91CF;&#x4F53;&#x91C7;&#x96C6;&#x8EAB;&#x6750;&#x6570;&#x636E;&#xFF0C;
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x5E76;&#x63D0;&#x4F9B;&#x4E13;&#x4E1A;&#x7740;&#x88C5;&#x5EFA;&#x8BAE;&#x3002;&#x63D0;&#x4F9B;&#x897F;&#x88C5;&#x5B9A;&#x505A;&#xFF0C;&#x897F;&#x670D;&#x5B9A;&#x5236;&#xFF0C;
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x804C;&#x4E1A;&#x88C5;&#xFF0C;&#x5546;&#x52A1;&#x6B63;&#x88C5;&#x5B9A;&#x5236;&#xFF0C;&#x897F;&#x88C5;&#xFF0C;&#x886C;&#x886B;&#x5B9A;&#x5236;&#x7B49;&#x670D;&#x88C5;&#x5B9A;&#x5236;&#x670D;&#x52A1;&#x3002;
            div(style='width:300px;margin:0 auto; padding:20px 0;')
                a(target='_blank', href='', style='display:inline-block;\
        text-decoration:none;height:20px;line-height:20px;')
                    img(src='images/beian.png', style='float:left;width: 20px;height: 20px;\
          vertical-align: middle;')
                    p(style='float:left;height:20px;line-height:20px;margin: 0px 0px\
          0px 5px; color:#939393;') &#x6D59;&#x516C;&#x7F51;&#x5B89;&#x5907; 33011802000773&#x53F7;
        .infomation
            p.p1 Copyright&copy;2015-2018 ybren.com,  All Rights Reserved.
            p &#x7248;&#x6743;&#x6240;&#x6709;:&#x676D;&#x5DDE;&#x8D1D;&#x561F;&#x79D1;&#x6280;&#x6709;&#x9650;&#x516C;&#x53F8;   &#x6D59;ICP&#x5907;15008318&#x53F7;
script(src='/script/nvsxz.js')
